# The base URL where the application is hosted, this is used to download assets by the client
HOST=http://localhost:3000

# The type of storage to use for binary files (options: local, supabase)
BLOB_STORAGE_TYPE=local

# The type of database to use (options: postgres, supabase)
DB_TYPE=postgres

# Code Signing
# Base64 encoded private key for code signing
PRIVATE_KEY_BASE_64='your-private-key-in-base-64'

# LOGIN
# Password for admin access to the application UI
ADMIN_PASSWORD=your-admin-password

# DATABASE
# PostgreSQL database user
POSTGRES_USER=postgres
# PostgreSQL database password
POSTGRES_PASSWORD=postgres
# PostgreSQL database name
POSTGRES_DB=releases_db
# PostgreSQL database host
POSTGRES_HOST=localhost
# PostgreSQL database port
POSTGRES_PORT=5432